- title t('.title', name: show_group(@ordergroup))

- if FoodsoftConfig[:use_paymanual]
  - content_for :actionbar do
    = link_to t('.new_transaction'), new_finance_ordergroup_transaction_path(@ordergroup), class: 'btn btn-primary'

- content_for :sidebar do
  .well.well-small
    = render 'account_info', ordergroup: @ordergroup

= render 'transactions_search', url: finance_ordergroup_transactions_path(@ordergroup)

#transactions= render 'transactions', with_csv: true
