- title t('.title'), false

-# placeholder deface to add content using erb[silent]:contains()
- '<dashboard_top_mark>'

- if current_user.ordergroup
  = render :partial => 'shared/open_orders', :locals => {:ordergroup => current_user.ordergroup}

-# placeholder deface to add content using erb[silent]:contains()
- '<dashboard_middle_mark>'

-# placeholder deface to add content using erb[silent]:contains()
- '<dashboard_bottom_mark>'
