- if Order.where(state: ['open', 'finished']).exists?
  = link_to group_order_path(:current) do
    .well.well-link
      %i.icon-shopping-cart
      My current order
      - sum ||= 0
      .pull-right.price_total#group_orders_sum{data: {value: sum}}
        = number_to_currency sum unless sum == 0
- else
  .well.well-link
    %i.icon-shopping-cart
    No currently open orders
