- content_for :javascript do
  :javascript
    var toleranceIsCostly = #{FoodsoftConfig[:tolerance_is_costly] ? 'true' : 'false'};
    var minimumBalance = #{FoodsoftConfig[:minimum_balance].to_f or 0};
    var quantityTimeDeltaClientMs = #{((FoodsoftConfig[:quantity_time_delta_client] or 0.5) * 1000).to_i};

    // dim price details field when it becomes outdated
    $(document).on('changed', '#articles_table input[data-delta]', function() {
      $('.price_details').fadeTo(0, 0.5);
      // disable links until they are updated by ajax
      $('.price_details a[href], a[href].price_details').attr('href', '#');
    });

    // request price details update if we have the summary
    $(document).on('GroupOrder#update', function() {
      if ($('#articles_table tfoot .price_total_row').length > 0) {
        $.ajax({
          url: '#{group_order_price_details_path(@order_date || :current)}',
          type: 'get',
          data: $('#articles_table tbody').data('ajaxvars'),
          contentType: 'application/json; charset=UTF-8'
        });
      }
    });
