- title 'Previous order', false

- content_for :sidebar do
  = render 'edit_sidebar'

#articles_table
  - if @order_articles and !@order_articles.empty?
    = render 'order_articles'
  - else
    You haven't ordered anything yet. Select one of the categories to get started.

