# Foodsoft configuration

default: &defaults
  # If you wanna serve more than one foodcoop with one installation
  # Don't forget to setup databases for each foodcoop. See also MULTI_COOP_INSTALL
  multi_coop_install: false

  # If multi_coop_install you have to use a coop name, which you you wanna be selected by default
  default_scope: 'f'

  # http config for this host
  # Required for action mailer
  protocol: https
  host: order.foodcoop.nl
  #port: 3000

  # name of this foodcoop
  name: FC Test
  # foodcoop contact information (used for FAX messages)
  contact:
    street: Groeneweg 1
    zip_code: 1234AB
    city: Fruitdorp
    country: Nederland
    email: info@foodcoop.test
    phone: "030 323 23249"

  # Homepage
  homepage: http://www.foodcoop.nl

  # optional subtitle (empty by default)
  #sub_name: location city centre

  # optional message to show on dashboard, e.g. for important announcements (html allowed)
  #home_notice: We are currently in summer-break, hope to see you again in September.

  # foodsoft documentation URL
  #help_url: https://github.com/foodcoops/foodsoft/wiki/Doku

  # documentation URL for the apples&pears work system
  #applepear_url: https://github.com/foodcoops/foodsoft/wiki/%C3%84pfel-u.-Birnen

  # Default language
  #default_locale: en
  # By default, foodsoft takes the language from the webbrowser/operating system.
  # In case you really want foodsoft in a certain language by default, set this to true.
  # When members are logged in, the language from their profile settings is still used.
  #ignore_browser_locale: false

  # Price markup in percent
  price_markup: 3.0
  # Alternatively, ordergroups can have different price levels as defined by
  # `price_markup_list`. The key is an identifier (which shouldn't change),
  # and contains `markup` with the markup percentage and an optional `name`.
  # `price_markup` then is the default markup, pointing to an identifier.
  #price_markup: volunteer
  #price_markup_list:
  #  reduction:
  #    markup: 1
  #  volunteer:
  #    markup: 2.5
  #  pickup:
  #    markup: 5
  #    name: Pick-up only

  # percentage to add to supplier's price when importing from the shared database
  price_markup_shared: 3.0

  # default vat percentage for new articles
  tax_default: 6.0

  # tolerance order option: If set to false, article tolerance values do not count
  # for total article price as long as the order is not finished.
  tolerance_is_costly: false

  # Ordergroups, which have less than 75 apples should not be allowed to make new orders
  # Comment out this option to activate this restriction
  # stop_ordering_under: 75

  # ordergroups can only order when their balance is higher than or equal to this
  # not fully enforced right now, since the check is only client-side
  minimum_balance: -2000

  # When an order is closed, send it to the supplier (if order_howto is an email address).
  # Be sure to remove this on demo and test installations!
  # As a special case, when this is 'cc_only', only send it to the Cc address.
  send_order_on_finish: true
  # also send this mail to ('%{contact.email}' is replaced by the foodcoop contact)
  send_order_on_finish_cc: 
  - '%{contact.email}'
  - foodcoopbestel@foodcoop.nl

  # Uncomment next line to completely skip mailing members when an order is closed (temporary hack)
  #skip_order_finished_mails: true

  # When use_nick is enabled, there will be a nickname field in the user form,
  # and the option to show a nickname instead of full name to foodcoop members.
  # Members of a user's groups and administrators can still see full names.
  use_nick: false

  # Members with finance permissions can create debit and credit ordergroup accounts.
  # In some cases, you may want to disable that (e.g. when using online payments only).
  #use_paymanual: true
  # Most plugins can be enabled/disabled here as well. Messages and wiki are enabled
  # by default and need to be set to false to disable. Most other plugins needs to
  # be enabled before they do anything.
  #use_wiki: true
  use_messages: false

  # default order schedule, used to provide initial dates for new orders
  # (recurring dates in ical format; no spaces!)
  #order_schedule:
  #  # reference point, this is generally the first pickup day; leave empty to guess
  #  #initial:
  #  ends:
  #    recurr: FREQ=WEEKLY;INTERVAL=2;BYDAY=MO
  #    time: '9:00'
  #  pickup:
  #    recurr: FREQ=WEEKLY;INTERVAL=2;BYDAY=WE
  #    time: '18:00'

  # membership fee substracted from balance when a new ordergroup is created
  membership_fee: 35

  # enable to to allow public signup
  use_signup: true

  # Array of which pages are accesible to ordergroups that are not approved.
  # Values are controller names (`pages`) or actions combined with controller
  # names (`pages#show`). If not set, the default is:
  # `home login sessions signup feedback pages#show pages#all group_orders#archive`
  # When you're using a payment plugin for approval, add its controller here.
  unapproved_allow_access:
  - home
  - login
  - sessions
  - signup
  - feedback
  - pages#show
  - pages#all
  - payments/adyen_hpp
  - payments/mollie_ideal

  # Message to show when ordergroup is not yet approved. If not set, a concise
  # default message will be shown.
  #ordergroup_approval_msg:
  #  Your membership still needs to be approved. Please transfer €35 to account
  #  12345678 "FC Test" in Berlin, mentioning "membership fee" and your
  #  username. After up to three days, your account will be activated, and you
  #  will be able to order here.

  # Payment link to show when ordergroup is not yet approved. When this is set,
  # "%{link}" will be substituted with the link in the approval message.
  # When starting with http: or https:, this is considered to be a full url; else 
  # a Ruby name that will be evaluated on the controller.
  ordergroup_approval_payment: new_payments_mollie_path

  # When the payorder plugin is enabled, use Mollie to pay
  #use_payorder: true
  payorder_payment: new_payments_mollie_path

  # Mollie payment settings
  mollie:
    partner_id:
    profile_key:
    test_mode: false

  # Uservoice configuration - PLEASE MODIFY THE API_KEY (unless you're us)
  uservoice:
    api_key: DR2ihjoOYKhKACi6xfcSVg # foodcoop.uservoice.com
    set:
      accent_color: rgb(0, 136, 204)
      trigger_color: white
      trigger_background_color: rgba(46, 49, 51, 0.6)
    addTrigger:
      mode: contact
      trigger_position: bottom-left
    # Tell uservoice about the current user; only keys listed will be sent.
    # id, email, name or created_at will be set to actual values.
    identify:
      id:
      #email:
      #name:
      created_at:
      #type:

  # Base font size for generated PDF documents
  #pdf_font_size: 12
  # Page size for generated PDF documents
  #pdf_page_size: A4
  # Some documents (like group and article PDFs) can include page breaks
  # after each sublist.
  #pdf_add_page_breaks: true

  # To import other spreadsheets than csv, libreoffice can be used. Disabled by default.
  use_libreoffice: true

  # email address to be used as sender
  email_sender: Foodsoft <info@foodcoop.nl>
  # contact info will be used as email from, but you can override it here
  #email_from: FC Test <contact@foodcoop.test>
  # reply-to address for all emails (not set by default)
  #email_replyto: FC Test <support@foodcoop.test>

  # If your foodcoop uses a mailing list instead of internal messaging system
  #mailing_list: list@example.org
  #mailing_list_subscribe: list-subscribe@example.org

  # Config for the exception_notification plugin
  notification:
    error_recipients:
      - admin@foodcoop.nl
    sender_address: "\"Foodsoft Error\" <admin@foodcoop.nl>"
    email_prefix: "[Foodsoft]"

  # Access to sharedLists, the external article-database; references entry in `config/database.yml`
  shared_lists: sharedlists
  shared_supplier_assets_path: /www/apps/sharedlists/shared/supplier_assets
  use_orderdoc: true

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
