- if @options[:message]
  ~ @options[:message]
- else
  ~ t '.text', foodcoop: FoodsoftConfig[:name], name: @options[:sender_name] || @order.updated_by.try(:name)
  ~ t '.footer', foodcoop: FoodsoftConfig[:name], name: @options[:sender_name] || @order.updated_by.try(:name)

- unless @options[:skip_extra]
  ~ "\n"
  - unless @options[:delivered_before].blank?
    ~ t '.line_delivered_before',  when: @options[:delivered_before]
  - unless @options[:order_contact_name].blank?
    ~ t '.line_order_contact', name: @options[:order_contact_name], phone: @options[:order_contact_phone]
  - unless @options[:delivery_contact_name].blank?
    ~ t '.line_delivery_contact', name: @options[:delivery_contact_name], phone: @options[:delivery_contact_phone]
