- title t('signup.signup.title', name: FoodsoftConfig[:name])

= render 'multishared_signup/form', object: :signup, text: (FoodsoftConfig[:multishared_signup_text] || t('.text')).html_safe, submit_text: t('.submit')
