- title t('.title')

- content_for :sidebar do
  %p= raw t('.body', name: h(FoodsoftConfig.scope))

= render 'form', object: :select_foodcoop, text: expand_text(FoodsoftConfig[:select_scope_text] || FoodsoftConfig[:multishared_select_text] || t('.text')).html_safe, submit_text: t('.submit')
